body{
    background-color:#E9ECEF !important;
  
}


li{
    list-style: none;
}
.main {
    text-align: center;

    width: 100%;

}

button>a{
    text-decoration: none !important;
    color: white !important;
}